* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html, body {
    margin: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #133;
    background-color: rgb(201, 255, 190);
    font-family: 'Anonymous Pro', monospace;
}
h1 {
    font-family: 'Anonymous Pro', monospace;
    color:#91124d
}

h2, h3 {
    font-family: 'Anonymous Pro', monospace;
    color:#133
  }
  
  .code-block {
    font-family: 'Anonymous Pro', monospace;
  }

  .grid-container {
    margin: 20px auto;
    max-width: 1200px;;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px; 
    padding: 16px;
  }
  
  .grid-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }

  button {
    background-color: #24a700;
    color: #fffdb7;
    border: none;
    border-radius: 30px;
    padding: 0.5em 1em;
    font-family: 'Anonymous Pro', monospace;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #91124d;
}

canvas {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #f0f0f0;
  }